<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Granja Los Potrillos Aley {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Granja Los Potrillos Aley</h1>
        <nav>
            <a href="{{ url_for('home') }}">Inicio</a> | 
            <a href="{{ url_for('producto', nombre='terneros') }}">Terneros</a> |
            <a href="{{ url_for('producto', nombre='pollitos') }}">Pollitos</a> |
            <a href="{{ url_for('producto', nombre='huevos') }}">Huevos</a>
        </nav>
    </header>
    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; 2024 Granja Los Potrillos Aley - Calidad y Genética.</p>
    </footer>
</body>
</html>